# Ignorer l'environnement virtuel
.venv/
venv/

# Ignorer les fichiers Python compilés
*.pyc
*.pyo
__pycache__/

# Ignorer les fichiers de configuration ou secrets
.env
*.env

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers spécifiques à l'IDE
.vscode/
.idea/
